<h1>Tous nos articles de sport</h1>
<<<<<<< HEAD
<div class="container">
  <%= render  "shared/sport_cards" %>
  <div class="card-category">
    <div class="cards">
      <% @articles.each do |a| %>
        <%= render  "shared/articles_cards", article: a %>
      <% end %>
    </div>
</div>
=======

>>>>>>> 7ed6386f60c8871b2aa38a403747958fd0fa627c
