<h1>Tous nos articles de sport</h1>
<%= render  "shared/banner" %>
<div class="container">
  <%= render  "shared/sport_cards" %>
  <div class="card-category">
    <div class="cards">
      <% @articles.each do |a| %>
        <%= link_to article_path(a) do  %>
          <%= render  "shared/articles_cards", article: a %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
