<div class="show-page">
  <div class="container">
  <div class="grid-show"
  <div class='image-show'>
  <%= cl_image_tag @article.photo, height: 400, width: 400, crop: :fill %>
  </div>

  </div>
  <%= link_to 'Back to our articles', articles_path, class: 'btn btn-primary' %>
  </div>
</div>