<div class="container">
  <%= render "shared/menu_dashboard" %>
  <div class="user-show-rentals">
    <h2> Mes reservations</h2>
    <div class="card-category">
      <div class="cards">
        <% @user.bookings.each do |reservation| %>
          <%= render  "shared/articles_cards", article: reservation.article  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-show-commands">
    <h2>Mes articles à louer</h2>
    <div class="card-category">
      <div class="cards">
        <% @user.articles.each do |article| %>
          <%= render  "user/booking_cards", article: article  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-show-information"></div>
</div>
