<div class="banner">
  <div class="banner-content">
    <h1>POUR VOS EVENEMENTS SPORTIFS</h1>
    <p>louez vos équipements et profitez !</p>
    <%= form_tag articles_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control mr-lg-1",
        placeholder: "chercher mon équipement ou mon sport"
      %>
    <% end %>
  </div>
</div>
