<div class="banner">
  <div class="banner-content">
    <h1>POUR VOS EVENEMENTS SPORTIFS</h1>
    <p>louez vos équipements et profitez !</p>
    <form class="form-inline d-flex justify-content-center">
      <input class="form-control mr-lg-1" type="search" placeholder="Rechercher un article" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</div>
