<div class="banner" style="background-image: linear-gradient(-225deg, rgba(88,139,139,0.6) 0%, rgba(35, 55, 55,0.6) 50%), url('/assets/.jpg')">
  <div class="banner-content">
    <h1>POUR VOS EVENEMENTS SPORTIFS</h1>
    <p>louez vos équipements et profitez !</p>
    <div class="seach-container">
      <form class="search-form" action="/articles" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓"><input type="text" name="query" id="query" class="search-query" placeholder="Trouvez votre article de sport"></form>
      <div class="search-form-icon search-icon glyphicon glyphicon-search"></div>
    </div>
  </div>
</div>
