.navbar-sportyrent {
  justify-content: space-between;
  background: white;
  padding-top: 0;
  padding-bottom: 0;
  a {
    text-decoration: none;
    font-size: 25px;
  }
}

.navbar-sportyrent .navbar-collapse {
  flex-grow: 0;
}

.navbar-sportyrent .navbar-brand img {
  width: 60px;
}

.main-header-accueil {
  font-size: 15px;
}

.dropdown-menu {
  font-size: 15px;
}
