.show-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 16px;
  height: 500px;
  margin-top: 16px;
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  border-radius: 5px;
}

.card-show > img {
  height: 250px !important;
}

.card-show h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.card-show p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.card-show .avatar-infos {
  position: absolute;
  top: 20px;
  right: 20px;
  justify-content: center;
  & p{
    font-size: 12px;
  }
}

.card-show .card-show-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid;
  border-color: bisque;
  height: 250px;
  & .btn {
    position: absolute;
    width: 180px;
    bottom: 16px;
    right: 16px;
  }
  & .trash-show {
    position: absolute;
    font: #9F7E69 !important;
    bottom: 16px;
    left: 16px;
  }
}

.card-show-infos .card-show-pricing {
  position: absolute;
  width: 100px;
  text-align: justify;
  right: 10px;
  top: 10px;
  font-weight: bold;
}

.edit {
  position: absolute;
  bottom: 16px;
  left: 40px;
}

.form-show-group {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #D2BBA0;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px !important;
  border-radius: 5px;
  height: 100%;
  position: relative;
  & .simple_form {
    margin-bottom: 0;
  }
  & .controls {
    text-align: space-between;
  }
  & .details {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 150px;
    border-top: 1px solid #D2BBA0;
    padding-top: 16px;
    & h5 {
      font-family: 'Josefin Sans';
      font-weight: bold;
      font-size: 18px;
      color: #9F7E69;
      vertical-align: middle; 
      text-align: center;
    }
  }
  & .rent {
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0;
    & .btn {
      width: 100% !important;
      margin-bottom: 0 !important;
    }
  }
}

